@model CollegeGrievanceCell.Models.ComplaintForm

<!DOCTYPE html>
<html>
    <head>
       
    </head>

    <body>
        <table>
            <tr>
            <td>ComplaintId </td>
            <td>@Model.ComplaintId </td>
            </tr>
        <tr>
            <td>ComplaintType </td>
            <td>@Model.ComplaintType </td>
        </tr>
        <tr>
            <td>Description </td>
            <td>@Model.Description </td>
        </tr>
        <tr>
            <td>DateOfComplaint </td>
            <td>@Model.DateOfComplaint </td>
        </tr>
        <tr>
            <td>Status </td>
            <td>@Model.Status</td>
        </tr>
        <tr>
            <td>UpdateStatus </td>
            <td>@Model.UpdateStatus</td>
        </tr>
        </table>

       

    </body>
</html>





